html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 18px;
    font-size: 15px;
    cursor: pointer;
}