@{
    ViewData["Title"] = "Home Page";
}
<div id="spinnerH">
    <div id="anilloH"><div></div><div></div><div></div><div></div></div>
</div>
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button type="button" class="btn btn-primary" id="btnNuevo" ><i class="fa fa-plus"></i><span></span> | Nuevo empleado</button>
    <button type="button" class="btn btn-dark" id="btnBuscar"><i class="fa fa-search"></i><span></span> | Buscar</button>
    <button type="button" class="btn btn-success" id="btnUpdate"><i class="fa fa-rotate-right"></i><span> | Actualizar</span></button>
    <table id="empleadoTable" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Puesto</th>
                <th>RFC</th>
                <th>Direccion</th>
                <th>Fecha de Alta</th>
                <th>Fecha de Baja</th>
                <th>Estatus Laboral</th>
                <th></th>
                <th></th>
                <th>Telefono</th>
                <th>Edo Civil</th>
            </tr>
        </thead>
    </table>

    <div id="modalAlta" class="modal fade" role="dialog">
        <div id="moA"></div>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Empleado</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="anilloA"><div></div><div></div><div></div><div></div></div>
                    <form id="frmA">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="app-name" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Apellido Materno:</label>
                        <input type="text" class="form-control" id="apm-name" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email-name" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Genero:</label>
                        <input type="text" class="form-control" id="gen-name" maxlength="30">
                    </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Estado Civil:</label>
                            <input type="text" class="form-control" id="ecivil-name" maxlength="30">
                        </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Fecha de nacimiento:</label>
                         <input type="date"  class="input-group date" id="fchnac-name" min="1970-01-01" max="2023-12-31">
                    </div>
                   @* <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Edad</label>
                        <input type="number" class="form-control" id="edad-name" readonly>
                    </div>*@
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">RFC:</label>
                        <input type="text" class="form-control" id="rfc-name" maxlength="13">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Telefono:</label>
                        <input type="text" class="form-control" id="tel-name" maxlength="10">
                    </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Direccion:</label>
                            <input type="text" class="form-control" id="dir-name" maxlength="30">
                        </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Puesto:</label>
                        <input type="text" class="form-control" id="puesto-name" maxlength="30">
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btnCrear">Crear</button>
                </div>
            </div>
        </div>
    </div>


        <div id="modalEditar" class="modal fade" role="dialog">
        <div id="moE"></div>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Empleado</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="anilloE"><div></div><div></div><div></div><div></div></div>
                    <form id="frmE" name="frmE">
                        <input type="hidden" id="IdE" />
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="e-email" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Puesto</label>
                            <input type="text" class="form-control" id="e-pso" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Telefono</label>
                            <input type="number" class="form-control" id="e-tel" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Estado Civil:</label>
                            <input type="text" class="form-control" id="e-ec" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Direccion:</label>
                            <input type="text" class="form-control" id="e-dir" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Fecha de Baja:</label>
                            <input type="date" class="form-control" id="e-fchB"  min="1970-01-01" max="2023-12-31">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" id="btnEdit">Actualizar</button>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>


        <div id="modalBusqueda" class="modal fade" role="dialog">
        <div id="moB"></div>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Busqueda de Empleado</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                    <div id="anilloB"><div></div><div></div><div></div><div></div></div>
                        <form id="frmB">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="b-name" maxlength="30">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">RFC</label>
                            <input type="text" class="form-control" id="b-rfc" maxlength="13">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Estatus</label>
                            <select class="form-select" id="b-estatus" name="estatus">
                                <option value=""> Seleccione una opcion </option>
                                <option value="A">Labora </option>
                                <option value="B">Ya no labora</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btnSearch">Buscar</button>
                </div>

                </div>
            </div>
        </div>
</div>
